.sidebar {
  flex: 1;
  background: var(--sidebar-bg-color);
  height: 100%;
  height: 100vh;
  overflow-y: scroll;
}
.sidebar_container {
  padding: 1em;
}
.sidebar_button {
  margin: 1em 0;
}
.sidebar_sort {
  margin: 2em 0;
}
